body{
  background-color: aquamarine;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }

  h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color:darkblue;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  a{
    color: black;
    font: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 100;
    font-kerning: inherit;
    font-size-adjust: inherit;
    -ms-flow-into: inherit;
    font-size: larger;
  }
  negrito{
    font-weight:bold;
  }
  #teste{
    padding-top: 10px;
    color: black;
    background-color: aquamarine;

  }
  .bloco1{
    background-color: aliceblue;
    border: 1px;
    border-width: 1px;
    border-style:dashed;
    width: 500px;
  }