.caixa {
    border: 100px;
    border-color: bisque;
    font: 200;
    text-align: center;
    color: red;
}
input {
    background-color: #d3dfd4; 
    border-radius: 15px;
    border: 2px solid #73AD21;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    
    display: inline-block;
    font-size: 16px;

    font-
    
}