body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;    
}

input{
    background-color:rgb(20, 52, 73);
    color: rgb(223, 223, 230);
    font-size: 1cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;   

}
div.caixa{
    background-color:darkslategray;
    width: 45%;
    align-content: center;
    border-radius: 20px;
    margin: 5%;
}
button{
    background-color: black;
    color: aliceblue;
    font-size: 1cm;
    border-radius: 5px;
    margin: 10px;   
}
div.resultado{
    background-color: black;
    color: aliceblue;
    font-size: 1cm;
    border-radius: 5px;
    margin: 10px;  
}